html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: var(--white);

	font-family: 'Noto Sans', sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B433E;
	--white: #FFF;
	--primary: #970DBA;
	--red: red;
	--green: #089D39;
	--green-light: #66E173;
	font-family: 'Noto Sans', sans-serif;
}
